:root{
    --dark-color:#19283f;
    --second-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* start main heading */
.main-heading::before{
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--second-color);
}
.main-button{
    background-color: var(--red-color);
    color: var(--yellow-color);
}
/* End main heading */
/* start nav bar */
nav {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color:white;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--second-color);
}
.navbar .d-flex .btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.navbar .icon{
    color: var(--second-color);
    border-left:  1px solid var(--second-color);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid var(--second-color);
}
/* End nav bar */
/* start landing */
.landing {
    height: calc(100vh - 60px);
    background-color: var(--dark-color);
}
/* End landing */
/* start featurs */
.featurs .icon-holder{
    height: 200px;
}
.featurs .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.featurs .icon-holder svg.number{
    color: var(--section-color);
}
.featurs .icon-holder svg.icon{
    color: var(--second-color);
}
.featurs h3{
    color: var(--yellow-color);
}
/* End featurs*/ 
/* start work */
.work {
    background-color: var(--section-color);
}
.work li{
    font-size: 20px;
    cursor: pointer;
    
}.work li.active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.work li:not(.active):hover{
    color: var(--red-color);
}
.work img{
    padding: 5px;
}
.work .box{
    position: relative;
    overflow: hidden;
}
.work .box::before{
    content: attr(data-work);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 23px;
    color: white;
    background-color:#33d1cc7a;
    transition: 0.3s;
}
.work .box:hover::before{
    left: 0;
}
/* End work */
/* start stuff */
.stuff .container .main-paragraph{
    max-width: 500px;
}
@media (max-width:767px) {
    .stuff .container .content-holder{
        flex-direction: column;
    }
}
/* End stuff */
/* start team */
.team{
    background-color: var(--section-color);
    justify-content: space-between;
}
.team .container >h3{
    color: var(--yellow-color);
}
.team .row p:first-of-type{
    background-color: var(--second-color);
}
.team .row p:last-of-type{
    background-color: white;
}
/* End team */
/* strat project */
.project{
    background-color: var(--dark-color);
    min-height: 350px;
}
/* End project */
/* start plog */
.story .row img{
    max-width: 100%;
    padding: 0px;
}
/* End plog */
/* start subscribe */
.subscribe {
    background-color: var(--yellow-color);
    min-height: 300px;
}
.subscribe .holder {
    padding-top: 150px;
}
@media (max-width:767px) {
    .subscribe{
        min-height: 200px;
    }
    .subscribe .holder{
        flex-direction: column;
        padding-top: 25px;
    }
    .subscribe input {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
.subscribe input{
    width: 350px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    counter-increment: white;
}
.subscribe input:focus{
    outline: none;
}
.subscribe label {
    font-size: 25px ;
}
.subscribe input::placeholder{
    color: white;
    font-size: 25px;
}
.subscribe button{
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
/* End subscribe */
/* start footer */
.footer {
    background-color: var(--dark-color);
    min-height: 350px;
}
.footer .social svg {
    color: white;
    font-size: 25px;
}
.footer .social svg:first-of-type{
    background-color: #1877f2;
}
.footer .social svg:nth-child(2){
    background-color: #0d6efd;
}
.footer .social svg:nth-child(3){
    background-color: #0077b5;
}
.footer .social svg:nth-child(4){
    background-color: #ff0000;
}
@media (max-width:767px) {
    .footer .row {
        text-align: center;
    }
}
/* End footer */